{% extends 'base.html.twig' %}
{% block title %}Log In{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/app.css") }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="left">
            <div class="header">
                <h2 class="animation a1">Welcome Back To Stagi</h2>
            </div>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}        
                <div class="form">
                    <input type="text" value="{{ last_username }}" name="login" id="inputLogin"class="form-field animation a3" autocomplete="username" required autofocus placeholder="Username" autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-field animation a4" autocomplete="current-password" required placeholder="Password">

                    <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
             >                    <button class="animation a6" type="submit">
                        Sign in
                    </button>
                    <p style="text-align: center; color: black; font-size: 14px; margin: 5px 0;">Don't have an account? <span class="span"><a href="{{ path('app_register') }}">Sign Up</a></span></p>
                    <p style="text-align: center; color: black; font-size: 14px; margin: 5px 0; animation: a5;"> <a href="#">Forgot Password</a></p>

                </div>
            </form>
        </div>
        <div class="right"></div>
    </div>
{% endblock %}
