

{% extends 'base.html.twig' %}


{% macro repeat_entre(entreprise) %}
    <div class="experience_items">
        <!--Interpolate-->
        <img class="img_exp" src="public/external/rectangle226644-yrnf-200h.png" alt="">
        <div class="experience_text">
            <!--Interpolate-->
            <h3>{{entreprise.nomEntreprise}}</h3>
            <!--Interpolate-->
            <div class="experience_about">
                <p>{{entreprise.description}}</p>
            </div>
            <form action="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">
                    <button type="submit" class="btn btn-outline-secondary button_blue">details</button>
            </form>
        </div>
    </div>
{% endmacro %}

{% block title %}Entreprises{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('images/logo.png') }}" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user_index') }}">Profil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Professional
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_stage_index') }}">Intern</a>
                    <a class="dropdown-item" href="{{ path('app_entreprise_index') }}">Compagnies</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form class="form-inline my-2 my-lg-0 ml-2" action="{{ app.user ? path('app_logout') : path('app_login') }}">
            <button type="submit" class="btn btn-outline-info">{{ app.user ? 'Logout' : 'Login' }}</button>
        </form>
    </div>
</nav>

    <div class="main_container">
        <div class="search_container">
         <h3 class="animated-title">Find the companies you want to join</h3>
        <form action="{{ path('app_entreprise_search', {'name':  'quo' }) }}">
            <div class="searchjob">
                <input id="searchy" type="text" class="search_input_job" placeholder="Search Company">
                <button class="searchbutton"><span class="search-icon-job material-symbols-outlined">search</span></button>
            </div>
        </form>
        </div>
        <div class="NewJobs">
            <div class="Experience">









                {% for entreprise in entreprises %}
                    {{ _self.repeat_entre(entreprise) }}
                {% endfor %}
                









                
                
            </div>
        </div>
    </div>

{#

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">About us</a></li>
                        <li class="footer-il"><a href="#">Our services</a></li>
                        <li class="footer-il"><a href="#">Privacy policy</a></li>
                        <li class="footer-il"><a href="#">Affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">FAQ</a></li>
                        <li class="footer-il"><a href="#">Talent Solutions</a></li>
                        <li class="footer-il"><a href="#">Marketing Solutions</a></li>
                        <li class="footer-il"><a href="#">Sales Solutions</a></li>
                        <li class="footer-il"><a href="#">Safery Center</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">Community Guidelines</a></li>
                        <li class="footer-il"><a href="#">Privacy & Terms</a></li>
                        <li class="footer-il"><a href="#">Mobile App</a></li>
                        <li class="footer-il"><a href="#">Advertising</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>



#}






{#

       <h1>Liste des Entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nomEntreprise }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



#}





{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
{% endblock %}