{% extends 'base.html.twig' %}
{% macro repeat_entre(entreprise) %}
    {% if entreprise is not null %}
        <div class="experience_items">
            <img class="img_exp" src="public/external/rectangle226644-yrnf-200h.png" alt="">
            <div class="experience_text">
                <h3>{{ entreprise.getNomEntreprise() }}</h3>
                <div class="experience_about">
                    <p>{{ entreprise.description }}</p>
                </div>
                <form action="{{ path('app_entreprise_show', {'id': entreprise.id}) }}" method="GET">
                    <button type="submit" class="btn btn-outline-secondary button_blue">Details</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block title %}Entreprises{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('images/logo.png') }}" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user_index') }}">Profil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Professional
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_stage_index') }}">Intern</a>
                    <a class="dropdown-item" href="{{ path('app_entreprise_index') }}">Compagnies</a>
                </div>
            </li>
        </ul>
        <form id="searchForm" class="form-inline my-2 my-lg-0" method="GET" onsubmit="updateFormAction()">
    <input id="searchy" class="form-control mr-sm-2" type="search" placeholder="Search " aria-label="Search" name="nom_entreprise">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<form class="form-inline my-2 my-lg-0 ml-2" action="{{ app.user ? path('app_logout') : path('app_login') }}" method="POST">
    <button type="submit" class="btn btn-outline-info">{{ app.user ? 'Logout' : 'Login' }}</button>
</form>

    </div>
</nav>

<div class="main_container">
    <div class="search_container">
        <h3 class="animated-title">Find the companies you want to join</h3>
        <form id="searchForm" action="{{ path('app_entreprise_search', {'nom_entreprise': 'placeholder'}) }}" method="GET" onsubmit="updateFormAction()">
    <div class="searchjob">
        <input id="searchy" type="text" class="search_input_job" placeholder="Search Company" name="nom_entreprise">
        <button type="submit" class="searchbutton"><span class="search-icon-job material-symbols-outlined">Search</span></button>
    </div>
</form>

    </div>
    <div class="NewJobs">
        <div class="Experience">
            {% for entreprise in entreprises %}
                {{ _self.repeat_entre(entreprise) }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
     <script>
    function updateFormAction() {
        const form = document.getElementById('searchForm');
        const nameInput = document.getElementById('searchy').value;
        form.action = form.action.replace('placeholder', encodeURIComponent(nameInput));
    }
</script>


{% endblock %}
