{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
    <h1>Experience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Place</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.titre }}</td>
                <td>{{ experience.description }}</td>
                <td>{{ experience.place }}</td>
                <td>{{ experience.duree|date('Y-m-d') }}</td>
                <td>
                    <a href="{{ path('app_experience_show', {'id': experience.id}) }}">show</a>
                    <a href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_experience_new') }}">Create new</a>
{% endblock %}
