

{% extends 'base.html.twig' %}


{% macro repeat_stages(stage) %}
    <div class="experience_items">
        <!--Interpolate-->
        <img class="img_exp" src="public/external/rectangle226644-yrnf-200h.png" alt="">
        <div class="experience_text">
            <!--Interpolate-->
            <h3>{{stage.titre}}</h3>
            <div class="sub_text">
                <p class="text1">Google</p>
                <div style="width: 150px;">
                    <p class="text2">International</p>
                </div>
            </div>
            <!--Interpolate-->
            <div class="experience_about">
                <p>{{stage.Description}}</p>
            </div>
            <form action="{{ path('app_stage_show', {'id': stage.id}) }}">
                    <button type="submit" class="btn btn-primary button_blue">details</button>
            </form>
        </div>
    </div>
{% endmacro %}

{% block title %}Stages{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("build/app.css")}}">
{% endblock %}

{% block body %}

 <nav>
        <div class="logo">
        </div>
        <div class="items">
        <ul class="header-ul">

            <li class="header-il">
                <a href="{{ path('app_profile') }}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                        <div class="name">PROFILE</div>
                    </div>
                </a>
            </li>

            <li class="header-il">
                <a href="{{ path('app_stage_index') }}">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5"/></svg>
                        <div class="name">Stages</div>
                    </div>
                </a>
            </li>
            <li class="header-il">
                <a href="#">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/></svg>
                        <div class="name">USERS</div>
                    </div>
                </a>
            </li>
        </ul>
        </div>
        <form action="">
            <div id='asd' class="searchbar">
                <span class="search-icon material-symbols-outlined">search</span>
                     <input type="text" class="search_input" placeholder="Search">
            </div>
        </form>
        <span>
            <form action="{{ path('app_logout') }}" method="post">
                <button type="submit" class="btnn btn-danger">Logout</button>
            </form>
        </span>
            <div class="user">
                <img class="ProfilePic" src="{{asset('images/image.png')}}" alt="">
            <!--Interpolate-->
            </div>
{#
        <div class="other">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                  </svg>
            </div>
            <div class="name">OTHER</div>
        </div>

#}
    </nav>

    <div class="main_container">
        <div class="search_container">
            <h5>VOTRE STAGE DE RÊVE EST ICI</h5>
        <form action="{{ path('app_stage_search', {'name':  'ti' }) }}">
            <div class="searchjob">
                <input id="searchy" type="text" class="search_input_job" placeholder="Search Internship">
                <button class="searchbutton"><span class="search-icon-job material-symbols-outlined">search</span></button>
            </div>
        </form>
        </div>
        <div class="NewJobs">
            <div class="Experience">









                {% for stage in stages %}
                    {{ _self.repeat_stages(stage) }}
                {% endfor %}
                









                
                
            </div>
        </div>
    </div>

{#

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">About us</a></li>
                        <li class="footer-il"><a href="#">Our services</a></li>
                        <li class="footer-il"><a href="#">Privacy policy</a></li>
                        <li class="footer-il"><a href="#">Affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">FAQ</a></li>
                        <li class="footer-il"><a href="#">Talent Solutions</a></li>
                        <li class="footer-il"><a href="#">Marketing Solutions</a></li>
                        <li class="footer-il"><a href="#">Sales Solutions</a></li>
                        <li class="footer-il"><a href="#">Safery Center</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <ul class="footer-ul">
                        <li class="footer-il"><a href="#">Community Guidelines</a></li>
                        <li class="footer-il"><a href="#">Privacy & Terms</a></li>
                        <li class="footer-il"><a href="#">Mobile App</a></li>
                        <li class="footer-il"><a href="#">Advertising</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>



#}






{#

       <h1>Liste des stages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        {% for stage in stages %}
            <tr>
                <td>{{ stage.titre }}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



#}





{% endblock %}
