{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Titre_emploi</th>
                <td>{{ stage.titreEmploi }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage_index') }}">back to list</a>

    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
