{% extends 'base.html.twig' %}

{% block title %}Certificat{% endblock %}

{% block body %}
    <h1>Certificat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ certificat.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ certificat.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ certificat.description }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ certificat.place }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ certificat.domaine }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ certificat.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_certificat_index') }}">back to list</a>

    <a href="{{ path('app_certificat_edit', {'id': certificat.id}) }}">edit</a>

    {{ include('certificat/_delete_form.html.twig') }}
{% endblock %}
